# Logs & temporaires
*.log
*.tmp
*.swp
*.bak


# Environnements
.env
.env.*


# Python
__pycache__/
*.pyc
.venv/


# Node (si UI étendue)
node_modules/


# DB
*.db
*.sqlite


# Docker overrides
docker-compose.override.yml


# OS
.DS_Store
Thumbs.db