# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Environnements
.env
.venv/
venv/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Docker
*.pid
*.sock
*.db
docker-data/
volumes/

# Node (si assets front)
node_modules/
dist/
build/

# Logs
logs/
*.log

# Cache
.cache/
